# dependencies
node_modules/

# env & secrets
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/

# macOS / editors
.DS_Store
.vscode/
.idea/

# builds (if any later)
dist/
build/
.cache/